
@media (min-width: 800px){
  .principal-container{
    display: flex;
    flex-direction: row;
    min-height: 100dvh;
    box-sizing: border-box;
    justify-content: space-evenly;
  }

  header{
    position: relative;
    height: 100dvh;
    width: 15%;
    top: 0;
  }

  #menu{
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position:fixed;
    border: 2px solid black;
    background-color: chocolate;
    justify-content: flex-start;
    top: 0;
  }
  main{
    background-color: aqua;
    padding-left: 2dvw;
    padding-right: 2dvw;
    width: 65dvw;
    box-sizing: border-box;
  }

  section{
    position: relative;
    width: 100%;
    box-sizing: border-box;
  }

  .contenedor-eventos{
    box-sizing: border-box;
    position: relative;
    height: auto;
    width: 100%;
    gap: 5px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    //grid-auto-columns: 1fr;

  }

  .evento{
    box-sizing: border-box;
    display: block;
    //gap: 15px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    background-color: grey;
    overflow: hidden;
    transition-delay: 0.1s;
    transition-duration: 0.3s;
  }

  .evento:hover{
    outline: 1px solid black;
  }

  aside{
    background-color: lawngreen;
    width: 15dvw;
  }
}
