section{
width: 80dvw;
}

div{
  width: 20dvw;
  height: 30dvh;
  overflow: hidden;
  position: relative;
  flex-wrap: nowrap;
}

div>img{
  position: relative;
  //cambiar
  height: 20%;
  width: 20%;
  background-color: yellow;
}
