<div id=container-menu>
  <ul>
    <li routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Mis eventos</li>
    <li  routerLink="/descubrir" routerLinkActive="active">Descubrir eventos</li>
    <li  routerLink="/crear-evento" routerLinkActive="active">Crear evento</li>
    <li  routerLink="/amigos" routerLinkActive="active">Amigos</li>
    <li  routerLink="/descubrir" routerLinkActive="active">Mensajes</li>
    <li  routerLink="/descubrir" routerLinkActive="active">Perfil</li>
    <li  routerLink="/descubrir" routerLinkActive="active">Opciones</li>
  </ul>
</div>
